textarea {
	background-color: #111111;
	color: #B8C4D1;
	font-family: "Monospaced", monospace;
	border: none;
	outline: none;
	resize: none;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

html, body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #111111;
}

.console-container {
	width: 98vw;
	height: 98vh;
}